<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit blog</title>
</head>
<body>
<h1>Edit blog</h1>
<p>
    <a href="/">
        <button>Blog list</button>
    </a>
</p>
<div id="message">
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
</div>
<div>
    <form th:action="@{/edit-blog}" th:object="${blog}" method="post">
        <input th:type="hidden" th:value="blog.id" th:field="*{id}">
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text"  th:field="*{title}"/></td>
            </tr>
            <tr>
                <td>Content</td>
                <td><textarea id="content" rows="25"  th:field="*{content}"></textarea></td>
            </tr>
            <tr>
                <td>Writer</td>
                <td><input type="text" th:field="*{writer}"/></td>
            </tr>
            <tr>
                <td>Category :</td>
                <td>
                    <select th:field="*{category}">
                        <option th:each="p : ${categories}" th:value="${p.id}" th:text="${p.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Update"></td>
            </tr>
        </table>
    </form>
</div>
</body>
<footer> &copy; The Tinh</footer>
</html>